
PP3/obj/Debug/PP3.pdb
PP3/obj/Debug/PP3.dll
PP3/obj/Debug/PP3.csprojResolveAssemblyReference.cache
PP3/obj/Debug/PP3.csproj.FileListAbsolute.txt
PP3/obj/Debug/PP3.csproj.CoreCompileInputs.cache
PP3/bin/PP3.pdb
PP3/bin/PP3.dll
.vs/PP3/v15/Server/sqlite3/storage.ide
.vs/PP3/v15/.suo
.vs/config/applicationhost.config
PP3/obj/Debug/PP3.pdb
PP3/obj/Debug/PP3.dll
PP3/obj/Debug/PP3.csprojResolveAssemblyReference.cache
PP3/obj/Debug/PP3.csproj.FileListAbsolute.txt
PP3/obj/Debug/PP3.csproj.CoreCompileInputs.cache
PP3/bin/PP3.pdb
PP3/bin/PP3.dll
.vs/PP3/v15/Server/sqlite3/storage.ide
.vs/PP3/v15/.suo
.vs/config/applicationhost.config
